.compare-table__item .bonus, .compare-items__buy .buy-now {
  font-size: 12px;
  line-height: 15px;
}

.compare-table, .compare-items__buy .card, .compare-items__prices .old-price, .compare-items__type, .compare-items__select {
  font-size: 14px;
  line-height: 17px;
}

.compare-footer__buttons, .compare-items__model, .compare-items__title, .tippy-box[data-theme~=white] {
  font-size: 16px;
  line-height: 20px;
}

.compare-footer__title, .compare-table__type, .compare-table__group h3, .compare-items__prices .new-price {
  font-size: 20px;
  line-height: 24px;
}

.compare-header__title {
  font-size: 32px;
  font-weight: 600;
  line-height: 39px;
}

.compare-table__help, .compare-items__help {
  display: inline-block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  font-weight: 600;
  text-align: center;
  color: #ACB8CA;
  cursor: pointer;
  background: linear-gradient(0deg, #F6F6F6, #F6F6F6), #F0F2F4;
  background-image: url("../img/question.svg");
  background-repeat: no-repeat;
  background-position: center;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

p {
  margin: 0;
}

/*--------------------*/
.btn-black-s {
  padding: 10px 15px 10px 15px;
  border-radius: 10px;
  background-color: #000;
  color: #FFF;
}
.btn-black-s:hover, .btn-black-s:focus {
  opacity: 0.8;
}

.btn-black-l {
  padding: 15px 40px 15px 40px;
  border-radius: 10px;
  background-color: #000;
  color: #FFF;
}
.btn-black-l:hover, .btn-black-l:focus {
  opacity: 0.8;
}

.btn-white-s {
  padding: 10px 15px 10px 15px;
  border-radius: 10px;
  background-color: #F6F6F6;
  color: #000;
}
.btn-white-s:hover, .btn-white-s:focus {
  opacity: 0.8;
}

.btn-white-l {
  padding: 15px 40px 15px 40px;
  border-radius: 10px;
  background-color: #F6F6F6;
  color: #000;
}
.btn-white-l:hover, .btn-white-l:focus {
  opacity: 0.8;
}

.compare-items__select {
  display: block;
  min-width: 250px;
  padding: 16px 20px;
  -webkit-appearance: none;
  appearance: none;
  outline: none;
  box-shadow: inset 3px 3px 3px rgba(0, 0, 0, 0.1);
  border: 1px solid #ACB8CA;
  border-radius: 10px;
  background: none;
  color: #ACB8CA;
}

.compare-items__select-wrap {
  position: relative;
  display: inline-block;
}
.compare-items__select-wrap:after {
  position: absolute;
  top: 40%;
  right: 22px;
  content: "";
  pointer-events: none;
  width: 15px;
  height: 15px;
  background: url("../img/selectArrow.svg") no-repeat center;
}

.compare-items__radio {
  opacity: 0;
}

.compare-items__parameter {
  position: relative;
  margin-left: 15px;
}
.compare-items__parameter:before {
  position: absolute;
  top: 3px;
  left: -33px;
  content: "";
  width: 18px;
  height: 18px;
  border: 2px solid #4BB1BC;
  border-radius: 50%;
}
.compare-items__parameter:after {
  position: absolute;
  top: 6px;
  left: -30px;
  content: "";
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #4BB1BC;
  transition: 0.2s ease;
  opacity: 0;
}

.compare-items__radio:checked + .compare-items__parameter:after {
  opacity: 1;
}

.tippy-box[data-theme~=white] {
  padding: 20px;
  background-color: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
  color: #000;
}

.tippy-box[data-theme~=white][data-placement^=top] > .tippy-arrow::before {
  border-top-color: #fff;
}

.tippy-box[data-theme~=white][data-placement^=bottom] > .tippy-arrow::before {
  border-bottom-color: #fff;
}

.tippy-box[data-theme~=white][data-placement^=left] > .tippy-arrow::before {
  border-left-color: #fff;
}

.tippy-box[data-theme~=white][data-placement^=right] > .tippy-arrow::before {
  border-right-color: #fff;
}

.container {
  max-width: 1520px;
}

.content-wrapper {
  background-color: #FFF;
}
.content-wrapper--grey {
  padding-top: 10px;
  padding-bottom: 80px;
  background-color: #F6F6F6;
}

.compare-header {
  padding-top: 30px;
  padding-bottom: 30px;
}
.compare-header__nav {
  display: flex;
  margin-bottom: 30px;
}
.compare-header__nav li {
  position: relative;
  margin-right: 35px;
  list-style: none;
}
.compare-header__nav li:after {
  position: absolute;
  diaplay: block;
  content: "\\";
  top: 0;
  right: -20px;
  color: #9A9A9A;
}
.compare-header__nav li:last-child:after {
  content: "";
}
.compare-header__nav a {
  color: #9A9A9A;
}
.compare-header__nav a:hover {
  text-decoration: underline;
}
.compare-header__title {
  font-weight: 600;
}

.content {
  padding: 65px 25px 60px 25px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  box-shadow: 0px 30px 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: #FFF;
  color: #000;
}

.compare-items {
  display: flex;
  padding-bottom: 50px;
}
.compare-items__filter {
  margin-right: 15px;
  flex-basis: 100%;
  max-width: 340px;
}
.compare-items__headline {
  display: flex;
  margin-bottom: 22px;
}
.compare-items__help {
  margin-left: 10px;
}
.compare-items__select-wrap {
  margin-bottom: 30px;
}
.compare-items .radio-wrapper {
  display: flex;
  margin-bottom: 20px;
}
.compare-items__goods {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
}
.compare-items__wrap {
  position: relative;
  padding-top: 18px;
  display: inline-flex;
  justify-content: flex-start;
  max-width: 421px;
}
.compare-items__delete-item {
  position: absolute;
  top: 0;
  right: 0;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #000 url("../img/close.svg") no-repeat center;
}
.compare-items__img {
  display: block;
  margin-right: 25px;
  bottom: 0;
}
.compare-items__img img {
  max-width: 120px;
  max-height: 147px;
}
.compare-items__description {
  display: flex;
  flex-direction: column;
}
.compare-items__type {
  margin-bottom: 15px;
  color: #9A9A9A;
}
.compare-items__model {
  margin-bottom: 20px;
}
.compare-items__prices {
  margin-bottom: 15px;
}
.compare-items__prices .new-price {
  margin-right: 5px;
  font-weight: 600;
}
.compare-items__prices .old-price {
  text-align: center;
  text-decoration: line-through;
  color: #9A9A9A;
}
.compare-items__buy {
  display: flex;
  align-items: center;
}
.compare-items__buy .card {
  margin-right: 20px;
}
.compare-items__buy .buy-now {
  position: relative;
  padding-left: 26px;
  color: #000;
}
.compare-items__buy .buy-now:hover {
  text-decoration: underline;
}
.compare-items__buy .buy-now:after {
  position: absolute;
  display: block;
  content: "";
  top: 0;
  left: 0;
  width: 16px;
  height: 16px;
  background: url("../img/phonIcon.svg") no-repeat center;
}

.separator {
  margin: 0;
  height: 2px;
  background: #D1D1D1;
}

.compare-table__group {
  margin-bottom: 40px;
}
.compare-table__group:first-child {
  margin-top: 25px;
}
.compare-table__parameter {
  display: flex;
}
.compare-table__parameter--group {
  margin-top: 20px;
}
.compare-table__parameter--group-name {
  width: 340px;
}
.compare-table__parameter--group-name + .compare-table__parameter--group {
  margin-top: 25px;
}
.compare-table__type {
  margin-right: 15px;
  flex-basis: 100%;
  max-width: 340px;
}
.compare-table__type--group-name {
  font-size: 14px;
  line-height: 17px;
  color: #9A9A9A;
}
.compare-table__type--help {
  display: flex;
  align-items: center;
}
.compare-table__values {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
}
.compare-table__item {
  position: relative;
  width: 50%;
}
.compare-table__item p {
  display: block;
  max-width: 75%;
}
.compare-table__item .bonus {
  padding: 5px 15px 5px 35px;
  font-weight: 700;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.02);
  border: 2px solid #F0F2F4;
  border-radius: 5px;
  background: #FFF;
}
.compare-table__item .bonus:before {
  position: absolute;
  top: 0;
  left: 15px;
  content: "";
  width: 15px;
  height: 15px;
  background: url("../img/bonus.svg") no-repeat center;
}
.compare-table__help {
  margin-left: 20px;
}

.compare-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 40px;
}
.compare-footer__title {
  margin-bottom: 33px;
  max-width: 1100px;
  font-weight: 600;
}
.compare-footer__reset {
  margin-right: 28px;
}

@media (max-width: 1366px) {
  .container {
    max-width: 1080px;
  }

  .content-wrapper--grey {
    padding-top: 30px;
  }

  .content {
    padding: 45px 30px 80px 30px;
  }

  .compare-items__wrap {
    flex-direction: column;
  }

  .compare-items__description {
    margin-top: 20px;
  }
}
@media (max-width: 980px) {
  .container {
    max-width: 850px;
  }

  .content-wrapper--grey {
    padding-top: 45px;
  }

  .compare-items__filter,
.compare-table__type {
    margin-right: 30px;
    max-width: 240px;
  }

  .compare-items__select {
    min-width: 230px;
  }
  .compare-items__wrap {
    max-width: 230px;
  }
  .compare-items__buy {
    flex-direction: column-reverse;
    align-items: start;
  }
  .compare-items__buy .buy-now {
    margin-bottom: 18px;
  }
  .compare-items__item:last-child {
    display: flex;
    justify-content: flex-end;
  }

  .compare-footer__title {
    font-size: 18px;
    line-height: 22px;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 650px;
  }

  .content {
    padding: 40px 20px 60px 25px;
  }

  .compare-items__filter,
.compare-table__type {
    margin-right: 10px;
    max-width: 195px;
  }

  .compare-items__title, .compare-items__parameter {
    font-size: 12px;
    line-height: 15px;
  }
  .compare-items__select {
    min-width: 170px;
    font-size: 10px;
    line-height: 12px;
  }
  .compare-items .tooltips {
    width: 17px;
    height: 17px;
    background-size: 40%;
  }
  .compare-items__wrap {
    max-width: 170px;
  }

  .compare-table__type {
    min-width: 195px;
  }
  .compare-table__type--help {
    display: flex;
    align-items: start;
  }
  .compare-table__help {
    margin: 0;
  }

  .compare-footer__title {
    font-size: 16px;
    line-height: 20px;
  }
}
@media (max-width: 576px) {
  .container {
    max-width: 576px;
  }

  .compare-header {
    padding-bottom: 20px;
  }
  .compare-header__title {
    margin: 0 auto;
    text-align: center;
  }

  .content {
    box-shadow: none;
    border-radius: 0;
  }

  .content-wrapper--grey {
    padding: 0px;
  }

  .compare-items__filter,
.compare-table__type {
    padding-right: 10px;
    max-width: 300px;
  }

  .compare-items {
    display: block;
    padding-bottom: 35px;
  }
  .compare-items__item {
    display: flex;
  }
  .compare-items__wrap {
    margin: 0 auto;
  }
  .compare-items__filter {
    margin-bottom: 40px;
  }
  .compare-items__select-wrap {
    margin-bottom: 20px;
  }
  .compare-items__parameter:before {
    left: -28px;
    width: 12.5px;
    height: 12.5px;
    border: 1px solid #4BB1BC;
  }
  .compare-items__parameter:after {
    top: 5px;
    left: -26px;
    width: 8.5px;
    height: 8.5px;
  }
  .compare-items__wrap {
    width: 130px;
  }
  .compare-items__img {
    margin-bottom: 15px;
    width: 110px;
    height: 130px;
  }
  .compare-items__model {
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
  }
  .compare-items__prices {
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  .compare-items .new-price {
    font-size: 16px;
    line-height: 20px;
  }

  .separator {
    display: none;
  }

  .compare-table__group {
    position: relative;
  }
  .compare-table__group:after {
    position: absolute;
    display: block;
    content: "";
    top: -20px;
    bottom: 0;
    height: 2px;
    width: 100%;
    background-color: #E6E6E6;
  }
  .compare-table__parameter {
    margin-top: 25px;
    flex-direction: column;
  }
  .compare-table__parameter h3 {
    position: relative;
    width: -webkit-max-content;
    width: max-content;
    word-wrap: normal;
  }
  .compare-table__parameter h3:after {
    position: absolute;
    margin-right: -30px;
    display: block;
    content: "";
    top: 25%;
    right: 0;
    width: 15px;
    height: 15px;
    background-image: url("../img/parameterArrow.svg");
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
  }
  .compare-table__type {
    min-width: 100%;
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 17px;
  }
  .compare-table__item, .compare-table .bonus {
    font-size: 10px;
    line-height: 12px;
  }
  .compare-table__item--bonus {
    margin: 10px 0;
  }
  .compare-table .bonus {
    padding: 5px 10px 5px 30px;
  }
  .compare-table .bonus:before {
    top: -3px;
    left: 12px;
  }
  .compare-table__help {
    display: none;
  }

  .compare-footer__reset {
    margin: 0 0 10px 0;
  }
}
@media (max-width: 320px) {
  .container {
    max-width: 320px;
  }

  .content {
    padding: 20px 20px 50px 20px;
  }

  .compare-header__title {
    width: 200px;
    font-size: 28px;
    line-height: 34px;
  }
  .compare-header__nav {
    margin-bottom: 12px;
    font-size: 12px;
    line-height: 15px;
  }

  .compare-items__buy button {
    width: 50px;
    height: 30px;
    background-image: url("../img/cart.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
  .compare-items__buy button span {
    display: none;
  }
  .compare-items .buy-now {
    display: none;
  }

  .compare-table__parameter {
    margin-top: 15px;
  }
  .compare-table__parameter h3 {
    font-size: 14px;
    line-height: 17px;
  }
  .compare-table__parameter h3:after {
    margin-right: -30px;
    top: 5%;
    right: 0;
  }
  .compare-table__type {
    font-size: 10px;
    line-height: 12px;
  }

  .compare-footer {
    padding-top: 0px;
  }
  .compare-footer__title {
    font-size: 12px;
    line-height: 15px;
  }
}