@import "nullstyle.scss";

//variables and mixins
$second-collor: #9A9A9A;
$btn-padding-s: 10px 15px 10px 15px;
$btn-padding-l: 15px 40px 15px 40px;

@mixin button-colored($pad, $col) {
	padding: $pad;
	border-radius: 10px;
	background-color: $col;
}

//Templates
%flex-sb {
	display: flex;
	justify-content: space-between;
}

%font-xs {
	font-size: 12px;
	line-height: 15px;
}

%font-s {
	font-size: 14px;
	line-height: 17px;
}

%font-m {
	font-size: 16px;
	line-height: 20px;
}

%font-l {
	font-size: 20px;
	font-weight: 600;
	line-height: 24px;
}

%help-info {
	display: inline-block;
	width: 24px;
	height: 24px;
	border-radius: 50%;
	font-weight: 600;
	text-align: center;
	color: #ACB8CA;
	background: linear-gradient(0deg, #F6F6F6, #F6F6F6), #F0F2F4;
}

//styles
.container {
	max-width: 1520px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	color: #000;
}

.compare-items {
	@extend %flex-sb;
	padding-top: 50px;
	padding-bottom: 50px;
	padding-left: 30px;
	
	// &__filter {}
	
	&__headline {
		margin-bottom: 22px;
	}

	&__title {
		@extend %font-m;
		margin-right: 10px;
	}

	&__help {
		@extend %help-info;
	}

	&__select {
		@extend %font-s;
		width: 250px;
		margin-bottom: 28px;
		padding: 16px 20px 16px 20px;
		border: 10px #4633B9;
		box-shadow: inset 3px 3px 3px rgba(0, 0, 0, 0.1);
		border-radius: 10px;
	}

	&__choose-parameters {
		@extend %font-m;
		.group {
			display: inline-flex;
			flex-wrap: no-wpap;
			align-items: center;
			margin-bottom: 20px;
		}
	}

	// &__parameter {}

	&__label {
		margin-left: 15px;
	}

	&__goods {
		@extend %flex-sb;
	}
	&__item {
		@extend %flex-sb;
	}
	&__delete-item {
	}
	&__img {
	}
	&__description {
	}
	&__type {
		@extend %font-s;
	}
	&__model {
		@extend %font-m;
	}
	&__prices {
		.new-price {
			@extend %font-l;
		}
		.old-price {
			@extend %font-s;
		}
	}
	&__buy {
		@extend %flex-sb;
		.card {
			@extend %font-s;
			@include button-colored($btn-padding-s, #000);
			color: #FFF;
		}
		.buy-now {
			@extend %font-xs; 
		}
	}
}

.separator {
	display: block;
	margin: 0 30px 0 30px;
	height: 1px;
	background: linear-gradient(0deg, #E6E6E6, #E6E6E6), linear-gradient(0deg, #D1D1D1, #D1D1D1), #4633B9;
}


