
.btn-black-s {
	@include button-colored($btn-padding-s, #000);
	color: #FFF;
	
	&:hover, &:focus {
		opacity: 0.8;
	}
}

.btn-black-l {
	@include button-colored($btn-padding-l, #000);
	color: #FFF;
	
	&:hover, &:focus {
		opacity: 0.8;
	}
}


.btn-white-s {
	@include button-colored($btn-padding-s, #F6F6F6);
	color: #000;
	
	&:hover, &:focus {
		opacity: 0.8;
	}
}

.btn-white-l {
	@include button-colored($btn-padding-l, #F6F6F6);
	color: #000;
	
	&:hover, &:focus {
		opacity: 0.8;
	}
}