.compare-items__radio {
  margin-bottom: 20px;
  opacity: 0;
}

.compare-items__parameter {
  position: relative;
  margin-left: 15px;
  
  &:before {
    position: absolute;
    top: 0;
    left: -33px;
    content: '';
    width: 18px;
    height: 18px;
    border: 2px solid #4BB1BC;
    border-radius: 50%;
  }

  &:after {
    position: absolute;
    top: 3px;
    left: -30px;
    content: '';
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #4BB1BC;
    transition: 0.2s ease;
    opacity: 0;
  }
}
  
.compare-items__radio:checked + .compare-items__parameter:after {
  opacity: 1;
}