%flex-sb {
  display: flex;
  justify-content: space-between;
}

%font-xs {
  font-size: 12px;
  line-height: 15px;
}

%font-s {
  font-size: 14px;
  line-height: 17px;
}

%font-m {
  font-size: 16px;
  line-height: 20px;
}

%font-l {
  font-size: 20px;
  line-height: 24px;
}

%tooltip-info {
  display: inline-block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  font-weight: 600;
  text-align: center;
  color: #ACB8CA;
  cursor: pointer;
  background: linear-gradient(0deg, #F6F6F6, #F6F6F6), #F0F2F4;
  background-image: url('../img/question.svg');
  background-repeat: no-repeat;
  background-position: center;
}